:root {
  --color-1: #062633;
  --color-2: #17556d;
  --color-2-bis: #2983a5;
  --color-3: rgb(89, 131, 146);
  --color-4: rgba(27, 146, 110, 0.623);
  --color-5: #f5f8ef;
  --color-grey: #474646;
  --font-title: "Oswald", sans-serif;
  --font-text: "Open Sans", sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-image: linear-gradient(to right bottom, #91c4d6, #598392);
  color: var(--color-grey);
  font-family: var(--font-text); }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 55%; } }

h1,
h2,
h3 {
  font-family: var(--font-title); }

h1 {
  color: var(--color-3);
  letter-spacing: 3px;
  margin-right: -8px;
  font-size: 8rem; }
  @supports (background-clip: text) and (background-image: linear-gradient()) {
    h1 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-3)), to(var(--color-2)));
      background-image: linear-gradient(to right bottom, var(--color-3), var(--color-2));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; } }
  @media only screen and (max-width: 68.75em) {
    h1 {
      margin-right: 0;
      font-size: 6rem; } }
  @media only screen and (max-width: 31.45em) {
    h1 {
      font-size: 5.5rem; } }
  @media only screen and (max-width: 25em) {
    h1 {
      font-size: 5rem; } }
  @media only screen and (max-width: 340px) {
    h1 {
      font-size: 4.5rem; } }

h2 {
  color: var(--color-3);
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: -12px;
  text-align: right; }
  @media only screen and (max-width: 68.75em) {
    h2 {
      margin-top: 2rem;
      text-align: left; } }
  @media only screen and (max-width: 37.5em) {
    h2 {
      margin-top: 1rem;
      text-align: center; } }
  h2 .recent {
    font-size: 1.75rem;
    margin-right: 2rem; }
    @media only screen and (max-width: 68.75em) {
      h2 .recent {
        margin-right: 0; } }

@media only screen and (max-width: 68.75em) {
  #first {
    margin-top: 0; } }

h3 {
  text-transform: uppercase;
  color: var(--color-2);
  letter-spacing: 0.5px;
  font-size: 1.5rem; }

h4 {
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: capitalize;
  --color-grey:rgb(56, 55, 55); }

h5 {
  font-size: 1rem;
  color: var(--color-4); }

.lien-web {
  text-transform: none;
  color: var(--color-2-bis);
  font-size: 1.5rem;
  letter-spacing: 0.5px; }
  .lien-web:link, .lien-web:visited {
    text-decoration: none; }
  .lien-web:hover, .lien-web:active {
    color: var(--color-4);
    cursor: pointer; }

strong {
  font-weight: bold; }

.container {
  background-color: var(--color-5);
  max-width: 90rem;
  margin: 5rem auto;
  background-color: #f8f6f6;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3), 10px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 7rem 5vw 10rem 5vw;
  display: grid;
  row-gap: 8rem; }
  @media only screen and (max-width: 68.75em) {
    .container {
      max-width: 80vw;
      row-gap: 5rem;
      padding: 7rem 15vw 10rem 15vw; } }
  @media only screen and (max-width: 1000px) {
    .container {
      max-width: 90vw;
      margin: 2rem auto; } }
  @media only screen and (max-width: 31.45em) {
    .container {
      padding: 4rem 10vw 8rem 10vw;
      row-gap: 4rem;
      max-width: 100vw;
      margin: 0.7rem; } }
  @media only screen and (max-width: 340px) {
    .container {
      row-gap: 3rem; } }

.main {
  display: grid;
  grid-template-columns: max-content 4fr 1fr;
  grid-template-rows: auto;
  row-gap: 6rem;
  column-gap: 3vw;
  grid-template-areas: 'head-1 content-1 content-1' 'head-4 content-4 .' 'head-5 content-5 .'; }
  @media only screen and (max-width: 68.75em) {
    .main {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      row-gap: 4rem;
      column-gap: none;
      grid-template-areas: 'head-1 head-1' 'content-1 content-1 ' 'head-4 head-4' 'content-4 content-4' 'head-5 head-5' 'content-5 content-5'; } }
  @media only screen and (max-width: 37.5em) {
    .main {
      row-gap: 3rem;
      grid-template-columns: 1fr;
      grid-template-areas: 'head-1 ' 'content-1 ' 'head-4 ' 'content-4 ' 'head-5 ' 'content-5'; } }

.block {
  display: grid;
  row-gap: 4rem;
  column-gap: 3vw; }
  @media only screen and (max-width: 37.5em) {
    .block {
      row-gap: 3rem; } }
  .block__section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 1.5rem;
    grid-template-areas: 'header icon' 'text .'; }
    @media only screen and (max-width: 68.75em) {
      .block__section {
        row-gap: 0.75rem;
        grid-template-areas: 'header icon' 'text text'; } }
    @media only screen and (max-width: 37.5em) {
      .block__section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat 3, min-content;
        grid-template-areas: 'header' 'icon' 'text'; } }

.contact-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr; }
  @media only screen and (max-width: 68.75em) {
    .contact-header {
      grid-template-rows: repeat(2, min-content);
      grid-template-columns: 1fr;
      row-gap: 5rem; } }
  @media only screen and (max-width: 31.45em) {
    .contact-header {
      row-gap: 3rem; } }

.img {
  border-radius: 5px;
  width: 20rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3), 10px 20px 20px rgba(0, 0, 0, 0.2);
  grid-column: 1/2;
  grid-row: 1/2; }
  @media only screen and (max-width: 68.75em) {
    .img {
      margin: auto;
      align-self: center; } }

.contact {
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-column: 2/4;
  grid-row: 1/2;
  display: grid; }
  @media only screen and (max-width: 68.75em) {
    .contact {
      grid-row: 2/3;
      grid-column: 1/-1; } }
  .contact__name {
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media only screen and (max-width: 68.75em) {
      .contact__name {
        justify-content: center; } }
  .contact__info {
    grid-row: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; }
    @media only screen and (max-width: 68.75em) {
      .contact__info {
        justify-content: center; } }
    .contact__info li {
      margin-left: 1rem;
      font-size: 1.25rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__info--reach {
        display: none; } }
    .contact__info--icon {
      display: none; }
      @media only screen and (max-width: 37.5em) {
        .contact__info--icon {
          display: block; } }
  .contact__langue {
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 68.75em) {
      .contact__langue {
        justify-content: center;
        margin-left: 1.5rem; } }
    .contact__langue a {
      font-size: 1.2rem; }
      .contact__langue a.active {
        font-weight: bold; }
        .contact__langue a.active:hover {
          color: var(--color-2-bis); }
  .contact .bar {
    color: var(--color-2);
    margin: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: bold; }
  .contact__slider {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: currentColor;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    padding-top: 1rem;
    font-size: 1.5rem; }

.education-head {
  grid-area: head-3; }

.education {
  grid-area: content-3; }

.experience-head {
  grid-area: head-2; }

.experience {
  grid-area: content-2; }

.skills-head {
  grid-area: head-4; }

.skills {
  grid-area: content-4;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between; }
  .skills__icon {
    margin-bottom: 1.5rem;
    height: 3rem;
    width: 3rem; }
    .skills__icon :hover {
      cursor: pointer; }

.qualities-head {
  grid-area: head-5; }

.qualities {
  grid-area: content-5;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 3vw;
  width: 100%;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .qualities {
      grid-template-columns: repeat(2, 1fr);
      text-align: center; } }

.icon-flag {
  width: 2rem;
  height: auto; }
  .icon-flag :hover {
    cursor: pointer; }

.hobbies-head {
  grid-column: 1/2;
  grid-row: 5/6; }
  @media only screen and (max-width: 68.75em) {
    .hobbies-head {
      grid-row: 9/10;
      grid-column: 1/4; } }

.header {
  display: flex;
  justify-content: space-between;
  color: var(--color-2); }
  @media only screen and (max-width: 31.45em) {
    .header {
      justify-content: center; } }

.text--presentation {
  width: 80%;
  text-align: center;
  text-justify: auto;
  margin: 0 auto 0 auto;
  letter-spacing: 0.5px;
  font-size: 3.5rem;
  color: var(--color-2);
  font-style: var(--font-title); }
  @media only screen and (max-width: 68.75em) {
    .text--presentation {
      width: 100%; } }

.text {
  grid-area: text;
  width: 100%;
  font-weight: 200;
  text-align: justify;
  text-justify: auto;
  letter-spacing: 0.5px;
  font-size: 1.5rem; }
  @media only screen and (max-width: 68.75em) {
    .text {
      margin-top: 1rem; } }

@media only screen and (max-width: 37.5em) {
  .option {
    text-align: center !important; } }

.icon-box {
  grid-area: icon;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }
  @media only screen and (max-width: 37.5em) {
    .icon-box {
      justify-content: center;
      align-content: center; } }

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .icon svg {
    height: 2.5rem !important;
    width: 2.5rem !important;
    fill: var(--color-2) !important; }
  .icon > span {
    margin-right: 0.5rem; }
    @media only screen and (max-width: 700px) {
      .icon > span {
        display: none; } }

.ghost {
  display: none; }

hgroup {
  grid-area: header;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    hgroup {
      text-align: center; } }

.header {
  display: flex;
  justify-content: space-between;
  color: var(--color-2); }
  @media only screen and (max-width: 31.45em) {
    .header {
      justify-content: center; } }

.text--presentation {
  width: 80%;
  text-align: center;
  text-justify: auto;
  margin: 0 auto 0 auto;
  letter-spacing: 0.5px;
  font-size: 3.5rem;
  color: var(--color-2);
  font-style: var(--font-title); }
  @media only screen and (max-width: 68.75em) {
    .text--presentation {
      width: 100%; } }

.text {
  grid-area: text;
  width: 100%;
  font-weight: 200;
  text-align: justify;
  text-justify: auto;
  letter-spacing: 0.5px;
  font-size: 1.5rem; }
  @media only screen and (max-width: 68.75em) {
    .text {
      margin-top: 1rem; } }

@media only screen and (max-width: 37.5em) {
  .option {
    text-align: center !important; } }

.icon-box {
  grid-area: icon;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }
  @media only screen and (max-width: 37.5em) {
    .icon-box {
      justify-content: center;
      align-content: center; } }

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .icon svg {
    height: 2.5rem !important;
    width: 2.5rem !important;
    fill: var(--color-2) !important; }
  .icon > span {
    margin-right: 0.5rem; }
    @media only screen and (max-width: 700px) {
      .icon > span {
        display: none; } }

.ghost {
  display: none; }

hgroup {
  grid-area: header;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    hgroup {
      text-align: center; } }

.project-head {
  grid-area: head-1; }

.project {
  grid-area: content-1; }

.contact__icon :hover, .icon :hover,
.contact__icon :focus,
.icon :focus {
  fill: var(--color-4);
  cursor: pointer; }

.contact__icon svg, .icon svg {
  height: 3rem;
  width: 3rem; }

.contact__langue a:link, .contact__langue a:visited {
  color: var(--color-2-bis);
  text-decoration: none; }

.contact__langue a:hover, .contact__langue a:focus {
  color: var(--color-4);
  cursor: pointer; }
