.qualities-head {
  grid-area: head-5;
}

.qualities {
  grid-area: content-5;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 3vw;
  width: 100%;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 1.5rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}

.icon-flag {
  width: 2rem;
  height: auto;

  & :hover {
    cursor: pointer;
  }
}
