.skills-head {
  grid-area: head-4;
}

.skills {
  grid-area: content-4;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;

  &__icon {
    margin-bottom: 1.5rem;
    height: 3rem;
    width: 3rem;

    & :hover {
      cursor: pointer;
    }
  }
}
