.header {
  display: flex;
  justify-content: space-between;
  color: var(--color-2);

  @media only screen and (max-width: $bp-smallest) {
    justify-content: center;
  }
}

.text--presentation {
  width: 80%;
  text-align: center;
  text-justify: auto;
  margin: 0 auto 0 auto;
  letter-spacing: 0.5px;
  font-size: 3.5rem;
  color: var(--color-2);
  font-style: var(--font-title);

  @media only screen and (max-width: $bp-large) {
    width: 100%;
  }
}

.text {
  grid-area: text;
  width: 100%;
  font-weight: 200;
  text-align: justify;
  text-justify: auto;
  letter-spacing: 0.5px;
  font-size: 1.5rem;

  @media only screen and (max-width: $bp-large) {
    margin-top: 1rem;
  }
}

.option {
  @media only screen and (max-width: $bp-small) {
    text-align: center !important;
  }
}

.icon-box {
  grid-area: icon;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  @media only screen and (max-width: $bp-small) {
    justify-content: center;
    align-content: center;
  }
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @extend %icon;
  & svg {
    height: 2.5rem !important;
    width: 2.5rem !important;
    fill: var(--color-2) !important;
  }

  & > span {
    margin-right: 0.5rem;
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}

.ghost {
  display: none;
}

hgroup {
  grid-area: header;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-small) {
    text-align: center;
  }
}
